*,
*:before,
*:after {
  box-sizing: content-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 18px;
  background-color: rgb(64, 143, 103);
}

/***************************************** Canvases and Parent Div Positioning *****************************************/

#parent-top,
#parent-bottom,
.game-canvas
 {
  /*See https://thoughtbot.com/blog/positioning for a discussion on centering with absolute positioning*/
  position: fixed;
  left: 50%;
  margin-left: -420;
  /* CANVAS SPECIFIC SIZE - SEE <CANVAS> TAG IN HTML */
  /*notice this is half the width of the canvas*/
}


.ui-player
 {
  /*See https://thoughtbot.com/blog/positioning for a discussion on centering with absolute positioning*/
  position: fixed;
  left: 10;
}

#parent-top,
#parent-bottom,
.game-canvas
.menu {
  width: 840;
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
  height: 346px;
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
}

.game-canvas
{
  z-index: 1;
}

.ui-player
{
  z-index: 2;
  display: block;
}

#parent-top,
#canvas-top,
#player-ui-top.ui-player
{
  top: 10px;
}

#parent-bottom,
#canvas-bottom,
#player-ui-bottom.ui-player
{
  top: 366px;
  /* CANVAS SPECIFIC SIZE - SEE <CANVAS> TAG IN HTML */
  /*10 above top canvas + 10 space between canvases + 346 for top canvas height*/
}

.game-canvas {
  display: none;
  border: 1px solid rgb(255, 255, 255);
  background-color: #cacb63;
}

/***************************************** Menu *****************************************/

.submenu {
  display: none;
}

.menu {
  border:  1px solid rgb(255, 255, 255);
  text-align: center;
  z-index: 3;
}

.menu {
  background-image: url("assets/images/backgrounds/menu_background.png");
  background-color: #1fac26;
  /* Used if the image is unavailable */
  height: 346px;
  /* CANVAS SPECIFIC SIZE - You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.menu h1 {
  color: white;
  text-shadow: -1px -1px 0 #000;
  margin-top: 40px;
  /* CANVAS SPECIFIC MARGIN - SEE <CANVAS> TAG IN HTML */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0px 5px 0px;
}

.button {
  display: block;
  width: 180px;
  height: 40px;
  margin: auto;
  line-height: 40px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
  background-color: rgb(251, 77, 24);
  background-image: linear-gradient(
    to bottom,
    rgb(87, 63, 40) 0%,
    rgb(13, 113, 179) 100%
  );
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(185, 160, 0);
  background-image: linear-gradient(
    to bottom,
    rgb(185, 160, 0) 0%,
    #fddc00 100%
  );
}

/***************************************** UI *****************************************/

.ui_player_name {
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin: 5px 0px 5px 5px;
}


/***************************************** Loader *****************************************/
/* to do...add loader screen after main menu */
/*See https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
  display: none;
  position: absolute;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 2;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
